.game-board-container {
  max-width: 1200px;
  width: 65%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 3px rgba(103, 174, 110, 0.6);
}

.score-card-container {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.score-card {
  border: 1px solid var(--neon-border-color);
}

.upper-section,
.lower-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 48%;
  height: 100%;
}
