@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  --neon-text-color: #00541a;
  --neon-border-color: #90c67c;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00541a;
  height: 100vh;
  font-family: 'Exo 2', sans-serif;
}
